.pic {
    height: 200px;
    width: 300px;
}
.card-container {
    white-space: nowrap;
}

.card {
    background-color: #c7eef3;
    color: rgb(73, 32, 83) !important;
    display: inline-block;
    border-radius: 7px;
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold;
    width: 300px;
}