.pic {
    height: 200px;
    width: 300px;
}
.card-container {
    display: flex;
    width: 200%;
    white-space: nowrap;
}

.card {
    background-color: rgb(175, 210, 226);
    color: rgb(119, 33, 141) !important;
    
}