.presentation{
    width:100%;
    height:600px;
}
.title{
    color: rgb(119, 33, 141) !important;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold;
    background-color: rgb(175, 210, 226) !important;
    align-items: center;
    text-align: center;
}
  
