.presentation {
    width: 100%;
    height: 600px;
}

.title {
    color: rgb(119, 33, 141) !important;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold;
    /* background-color: rgb(175, 210, 226) !important; */
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.Button {
    padding: 10px 15px;
    display: inline-block;

}

.Button1 {
    padding: 10px 15px;
    display: inline-block;
}

.btn-purple {
    background-color: purple;
    color: white;
    opacity: 100%;
}

.btn-purple:hover {
    background-color: rgb(198, 55, 214);
    /* Puedes ajustar el color iluminado según tus preferencias */
    color: white;
}

.Parrafo-home {
    color: #ddd;
    font-size: 2rem;
    text-align: justify;
}

.linsk-ms {
    background-color: aqua;
    width: 40%;
    height: 40%;
    margin: auto;
    text-align: center;
}

.paypal {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 40%;
    background-color: magenta;
    margin: auto;
}

.paypal h2 {
    width: 500px;
}

.title-p {
    color: rgb(168, 95, 187);
}

.card p {
    font-size: larger;
}

.movie-container {
    background-color: #4C0260;
}

.footer {
    background-color: #c7eef3;
}

.info-buton {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.info-buton:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.info-buton:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.info-buton::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.info-buton:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.p-h {
    color: #fff;
}