.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
}

.main-nav:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}

.button {
  background-color: rgb(2, 29, 78);
  color: rgba(31, 215, 232, 0.873);
  border: none;
  cursor: pointer;
  margin-right: 40px;
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: bold;
  font-size: medium;
}

.button:hover {
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
}

.second-button {
  margin: 0 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: rgb(2, 29, 78);
  color: rgba(31, 215, 232, 0.873);
  padding: 8px 12px;
  border: 2px solid #c7eef3;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: bold;
  font-size: larger;
}

.dropdown-menu {
  position: absolute;
  background-color: rgb(2, 29, 78);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  list-style-type: none;
  margin-top: 5px;
  left: 0;
  right: 0;
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: bold;
}

.dropdown-menu li {
  padding: 8px 16px;
}

.dropdown-menu li a {
  color: rgba(31, 215, 232, 0.873);
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover {
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
}

.user-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(168, 95, 187);
  color: #c7eef3;
  font-size: 12px;
  border: 2px solid #c7eef3;
  cursor: pointer;
  margin: 10px;
}

.user-btn:active {
  font-size: medium;
  font-weight: bold;
}

.user-btn:hover {
  background: #c7eef3;
  color: rgb(168, 95, 187);
  font-weight: bold;
  border: 2px solid rgb(168, 95, 187);
}

.cont-btns {
  display: flex;
  margin-top: 5px;
}

.logo {
  padding: 10px;
  width: 80px;
  border-radius: 50%;
}

.nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
}

.nav-container:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}

.button-right {
  margin: 10px;
}

.logouser-drop {
  display: flex;
  align-items: baseline;
}

.nav-title {
  text-align: start;
}