* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://img.freepik.com/foto-gratis/telon-fondo-textura-muro-hormigon-solido_53876-129493.jpg?w=1800&t=st=1704858949~exp=1704859549~hmac=0e6e310e49b6e4872dd3b4cf96711708857e3c171455b638ce0d8a57e7b03c17);
    /* background-size: cover; */
}

.container-form {
    display: flex;
    margin: auto;
    margin-top: 10%;
    width: 65%;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 55%;
    background-color: #c7eef3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-childs {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.info-childs h2 {
    font-size: 2.5rem;
    color: #333;
}

.info-childs p {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #555;
}

/* .button-login {
    background-color: transparent;
    outline: none;
    border: solid 2px #9191bd;
    border-radius: 20px;
    padding: 10px 20px;
    color: #9191bd;
    cursor: pointer;
    transition: background-color .3s ease;
} */

/* .button-login:hover {
    background-color: #9191bd;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);

} */

.form-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    font-size: 20px;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.forminformation-childs {
    width: 65%;
}

.forminformation-childs h2 {
    font-size: 2.5rem;
    color: #333;
}

.icons {
    margin: 15px 0;
}

.forminformation-childs p {
    margin: 15px 0;
    color: #555;
}

.icons i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #9191bd;
    border: solid thin #9191bd;
    transition: background-color 0.3 ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.icons i:hover {
    background-color: #c7c7f3;
    color: #fff;
}

.form {
    margin: 30px 0 0 0;
}

.form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: #fff;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.form label i {
    color: #a7a7a7;
}

.input-submit {
    background-color: rgb(119, 33, 141);
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.input-submit:hover {
    background-color: #fff;
    color: rgb(119, 33, 141);
}

/* RESPONSIve FORM */

@media screen and (max-width:1024px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 10px;
    }

    .container-form {
        height: auto;
        flex-direction: column;
    }

    .information {
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .form-information {
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;

    }
}