.white {
    display: flex;
    color: white;
    justify-content: center;
}

.whitebutton {
    display: flex;
    justify-content: center;
    /* position: relative;
    top: 100px; */
}

/* .mylist {
    padding-left: 7px;
} */

.tec-buton {
    margin: auto;
    width: 40%;
}