.Favorites-butons {
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.not-favorites {
    color: #fff;
    text-align: center;
    font-size: x-large;
    margin-top: 50px;
    width: 40%;
}

.card-fav {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}